body {
    background-color: rgb(79,66,181);
    color: rgb(145, 202, 255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	color: rgb(145, 202, 255);
	font-style: italic;
	font-size: 120%;
}
